<!DOCTYPE html>
<head>
  <!--External CSS style sheets-->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/gridlex/2.7.1/gridlex.min.css">
  <link href="https://fonts.googleapis.com/css?family=Playfair+Display:400,900" rel="stylesheet">
  <!--Internal CSS style sheets-->
  <link href="/styles/style.css" type="text/css" rel="stylesheet">
</head>
  <body>
    <!--Header same across all pages -->
    <header>
      <section class="grid">
        <div class="col-4 bkg-img">
          <img src="images/BAAM.jpg" alt="logo">
        </div>
        <div class="col-8"
          <nav class="col-9_xs-12">
            <a href="/about" class="button box">ABOUT</a>
            <a href="/store" class="button box">GET A QUOTE</a>
            <a href="/join-our-community" class="button box">RESUME</a>
          </nav>
        </div>
        </section>
    </header>

<!--Footer same across all pages-->
    <footer>
      <div>
        <p>CONTACT ME</p>
      </div>
    </footer>

  </body>
</html>
