/* CSS Reset */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header-banner {
  display: block;

}
bkg-img {
  background-size: cover;
  display: block;
  max-width: 100%;
  max-height: 100%;
  position: fixed;
  margin: auto;
}
