/* --- CSS RESET --- */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* --- UNIVERSAL STYLES --- */
section {
  padding: 5vh 5%;

}
/* --- TYPOGRAPHY --- */
body{font-family: 'Playfair Display', serif;
}


/* --- TOP BANNER --- */
img {

}
